{% extends 'base.html.twig' %}

{% block title %}Information légal{% endblock %}

{% block body %}
<div class="Legal-information">
    <div>
        <h1> Informations légales du site</h1>
    </div>
    <div class="legal-information-content">
        <div>
            <a href="{{ path('app_legal_notice') }}" class="btn-legal-information"> Mentions légal </a>
        </div>
        <div>
            <a href="{{ path('app_privacy_policy') }}" class="btn-legal-information"> Politique de confidentialité </a>
        </div>
        <div>
            <a href="{{ path('app_condition_use') }}" class="btn-legal-information"> Condtition d'utilisation </a>
        </div>
    </div>

</div>
{% endblock %}
