{% extends 'base.html.twig' %}

{% block title %}Plan du site{% endblock %}

{% block body %}
<div>
    <div>
        <h1>Plan du site</h1>
    </div>
    <div>
        <div>
            <h2>cette page permet d'accéder à toutes les pages du site </h2>
        </div>
        <div class="site_map_container">
            <p class="site_map_paragraph">
                <a href="/">Page d'accceuil</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/formation">Page principal des formations</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/certifications">Page d'obtention des certifications</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/formation/{1}">Page du thème musique</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="formation/{2}/">Page du thème informatique</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/formation/{3}">Page du thème jardinage</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/formation/{4}">Page du thème cuisine</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/contact">Page de contact</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/legal/information">Page principal des informations légal</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/legal/notice">Page mention légal</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/privacy/policy">Page politique de confidentialité</a> : Lorem ipsum dolor sit amet.
            </p>
            <p class="site_map_paragraph">
                <a href="/condition/use">Page condition d'utilisation</a> : Lorem ipsum dolor sit amet.t.
            </p>
        </div>
    </div>
</div>
{% endblock %}
