{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="formations">
    <div>
        <h1>Les formations proposées</h1>
    </div>

    <div>
        Même boucle pour les formations
    </div>
</div>
{% endblock %}
