{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="formations">
    <div>
        <h1>Les formations proposées</h1>
    </div>

    <div class="formation-grid">
            {% for formation in formations %}
                <div class="formation-card">
                    <div class="formation-title">
                        <h2 class="title-formation"> {{formation.name}} </h2>
                    </div>

                    <div class="formation-image">
                        <img src="{{ asset('images/' ~ formation.image) }}" alt="{{ formation.name }}">
                    </div>
                        <div class="formation-action">
                                <a href="{{ path('app_formation_show', {id: formation.id}) }}" class="btn">Voir la formation</a>
                        </div>
                </div>
            {% else %}
                <p>Aucun produit mis en avant pour l'instant.</p>
            {% endfor %}
        </div>
</div>
{% endblock %}
