{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="formations">
    <div>
        <h1>Menu Administration</h1>
    </div>

    <div>
        <p>Gérer les utilisateurs</p>
    </div>
        <div>
        <p>Gérer le contenu</p>
    </div>
        <div>
        <p>Voir les achats</p>
    </div>
</div>
{% endblock %}
