{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil de knowledge learning{% endblock %}

{% block body %}
<div class="home">
    <div class="Title-home">
        <h1>Knowledge Learning</h1>
    </div>

    <div class="explain-home">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis eros rhoncus, molestie nulla aliquam, iaculis magna.
         Vivamus ullamcorper libero augue, non sollicitudin tellus dictum ac. 
         Maecenas efficitur odio ultrices, laoreet nunc eu, sodales sem. 
         Proin mollis tincidunt eros, et elementum justo. Proin quam neque, efficitur quis posuere ut, iaculis in libero.
         Nulla eget sapien at dolor posuere efficitur eget vel quam. Vestibulum facilisis ultrices velit, sit amet porta ante aliquet vel. 
         Fusce at ultricies dolor. </p>
    </div>

    <div class="Title-formation-home">
        <h2> Formations Disponibles </h2>
    </div>

    <div class="Content-formation">
            Ici mettre la boucle pour les formations comme l'autre projet
    </div>
</div>
{% endblock %}
