{% extends 'base.html.twig' %}

{% block title %}Condition d'utilisation{% endblock %}

{% block body %}
<div class="">
    <div> 
        <h1>CONDITIONS GENERALES D'UTILISATION </h1>
    </div>
    <div>
<p>Les présentes conditions générales d’utilisation ont pour objet de définir les modalités et
conditions d’utilisation du site www.XXX</p>

<h2>Objectif et qualité des contenus</h2>

<p>Ce site a pour objectif de communiquer du contenu informatif sur les produits ou services
proposés. Le site s’efforce de fournir une information de qualité et vérifiée. Si vous constatez une erreur typographique ou si une
information vous semble inexacte, merci de nous en informer en nous adressant un email.
Le site est susceptible d’être complété ou modifié, à tout moment, notamment en fonction
des évolutions technologiques.</p>

<h2>Accès & Utilisation du site</h2>

<p>Tout abus dans l’accès ou l’utilisation du site ou tout autre usage que celui auquel il est
destiné, sont interdits. Il également strictement interdit de mettre en péril l’intégrité,
l’utilisation ou les conditions de fonctionnement du serveur ou d’interférer ou de tenter
d’interférer avec le bon fonctionnement du site.
L’accès au site peut être suspendu pour des raisons de maintenance ou de mise à jour, pour
une cause due à la survenance d’un cas fortuit ou de force majeure habituellement reconnu
par la jurisprudence française.</p>

<h2>Propriété intellectuelle</h2>

<p>Le site internet ainsi que son contenu est protégé au titre des droits de propriété intellectuelle
au profit de l’éditeur du site. Il est interdit de copier, reproduire, extraire, diffuser, tout ou
partie, du site ou de ses éléments, sur quelque support que ce soit sans l’accord écrit et
préalable de l’éditeur du site. Le non-respect de ces droits peut engager les responsabilités
civile et pénale du contrevenant.</p>

<h2>Crédit photographies</h2>

<p>Toutes les photographies, images et illustrations du site ont été téléchargées gratuitement
sur le site https://pixabay.com/fr/</p>

<h2>Données personnelles</h2>

<p>L’éditeur du site s'engage à ce que la collecte et le traitement des données à caractère
personnel, effectués à partir du présent site soient conformes au RGPD et à la loi
Informatique et Libertés.</p>

<h2>Connexion et sécurité</h2>

<p>L’accès et l’utilisation du site font appel au standard de sécurité, permettant
d’assurer l’authentification, la confidentialité et l’intégrité des données échangées de bout en
bout, entre le poste de l’internaute et notre site.
Les informations échangées à l’occasion d’une session sur les pages du site sont sécurisées
par un protocole HTTPS.</p>

<h2>Les liens hypertextes</h2>

<p>Il est interdit de mettre en place un lien hypertexte vers le présent site sans l’accord écrit et
préalable de l’éditeur du site. En aucun cas, ce dernier ne peut être tenu pour responsable
du contenu des sites qui font l’objet d’un lien hypertexte à partir du présent site.</p>

<h2>Droit applicable & Juridiction compétente</h2>

<p>Le présent site est régi par le droit français et relève de la compétence exclusive des
tribunaux du lieu du siège social pour une personne morale ou du domicile pour une
personne physique, de l’éditeur du site.</p>
    </div>
</div>
{% endblock %}
