<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <server name="DATABASE_URL" value="mysql://root:@127.0.0.1:3306/knowledge_learning" />
        <server name="APP_SECRET" value="$ecretf0rt3s" />
        <env name="STRIPE_PUBLIC_KEY" value="pk_test_51Q9nhjRqck3hAfCRZFQUPyFE7EuY79hDByKpp6s8NIRIwDCACaqy7OFUp8Bze2lIcqggM6o7J6xRoZfranPlHfq000ucmbTMm9"/>
        <env name="STRIPE_SECRET_KEY" value="sk_test_51Q9nhjRqck3hAfCRZnySZw6kz1kFUc5JdOC8UjQV1ej7Fgd3P83icPGinEVbj2oh1m55vUWoAW68JsOrnvhzPwKU00yOgNDxqB"/>
        <server name="MAILER_DSN" value="gmail+smtp://pichonneautheo@gmail.com:rcqw%20buia%20cleo%20ajap@smtp.gmail.com:465" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

</phpunit>
