{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div>
        <h1>Politique de confidentialité</h1>
    </div>
    <div>

<p>Un "cookie" est un fichier de taille limitée, généralement constitué de lettres et de chiffres,
envoyé par le serveur internet au fichier cookie du navigateur situé sur le disque dur de votre
ordinateur.</p>

<p>Le présent site utilise différents cookies ayant pour finalités d’optimiser le site et ses services, d’améliorer l’expérience des
utilisateurs et la performance du site</p>

<p>Conformément à la législation, les données de fréquentation du site ainsi que les cookies
permettant la traçabilité des internautes et les adresses IP ne sont pas conservés au-delà de
13 mois à compter de la première visite.</p>

<p>Le site utilise des cookies dits « nécessaires » qui sont absolument essentiels au bon
fonctionnement du site. Cette catégorie de cookies comprend uniquement les cookies qui
garantissent les fonctionnalités de base et les fonctionnalités de sécurité du site. Ces
cookies ne stockent aucune donnée personnelle et par conséquent, ne requièrent pas le
consentement des internautes.</p>
    </div>
</div>
{% endblock %}
