{% extends 'base.html.twig' %}

{% block body %}

<form method="post">
    <div class="div-mail-user">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="div-role-user">
        <label for="role">Rôle :</label>
        <select id="role" name="role">
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="div-password-user">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="div-checkbox-user">
        <label for="is_active">Actif :</label>
        <input type="checkbox" id="is_active" name="is_active">
    </div>

    <button class="submit-button" type="submit">Ajouter</button>

    <div>
            <a href="{{ path('app_admin_users') }}" class="btn btn-primary">Retour a la liste utilisateur</a>
    </div>

</form>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}
