/* Main Admin */

.table, table {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.list-action-admin {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-action-admin {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 3px;
    text-decoration: none;
  }
  
  .button-action-admin:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #0d8ade);
    background-image: -moz-linear-gradient(top, #3cb0fd, #0d8ade);
    background-image: -ms-linear-gradient(top, #3cb0fd, #0d8ade);
    background-image: -o-linear-gradient(top, #3cb0fd, #0d8ade);
    background-image: linear-gradient(to bottom, #3cb0fd, #0d8ade);
    text-decoration: none;
  }


  /* Table Admin */
.title-content-admin {
    margin-top: 2em;
}

.table-button-action {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}

.button-edit-admin {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    color: #333333  ;
    background: #19ee15;
    padding: 5px 10px 5px 10px;
    border: solid #000000 3px;
    text-decoration: none;
  }

.button-edit-admin:hover {
    transform: scale(1.5);
  }

.button-supp-admin {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    color: #ffffff;
    background: #ff1f1f;
    padding: 5px 10px 5px 10px;
    border: solid #000000 3px;
    text-decoration: none;
  }

.button-supp-admin:hover {
    transform: scale(1.5);
  }

.button-add-admin {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    color: #000000;
    background: #0277f4;
    padding: 5px 10px 5px 10px;
    border: solid #000000 3px;
    text-decoration: none;
}

.button-add-admin:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 950px) {
    .table-button-action {
      display: flex;
      flex-direction: column ;
    }
    .button-change-admin {
        margin-bottom: 5px;
    }
  }

  .back-to-admin {
    padding-top: 1em;
  }

  /* User admin */

  .div-mail-user, .div-role-user, .div-password-user, .div-checkbox-user {

  padding: 0.5em 0 0.5em 0.5em;
  
  }

.submit-button {
    position: relative;
    margin: 0 0 1em 1em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #00c2cb;
    background-color: #0277f4;
    cursor: pointer;
    outline: none;
    transition: 200ms;
  }

  .submit-button:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
    border-left: 2px solid #00c2cb;
    animation: spin 2s 500ms forwards;
  }
  button:focus i {
    animation: check 300ms 2250ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #00c2cb;
    }
    100% {
      transform: rotate(720deg);
      border: 2px solid #00c2cb;
    }
  }
  
  @keyframes check {
    to {
      color: #00c2cb;
    }
  }

  /* Theme, Course, Lessons Admin */
  form {
  margin-bottom: 1em;
}

  form div {
    display: flex;
    align-items: center;
    padding: 0 1em 0.5em 0.5em;
  }
  form label {
    padding: 0 1em 0.5em 0.5em;
  }

  #form_save {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    color: #000000;
    background: linear-gradient(#0277f4, #19ee15) ;
    padding: 5px 10px 5px 10px;
    border: solid #000000 3px;
    text-decoration: none;
  }

  .back-button {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    color: #000000;
    background-color: #ffffff ;
    padding: 5px 10px 5px 10px;
    border: solid #000000 3px;
    text-decoration: none;
    margin: 0.5em;
  }