body {
    background-color: #f1f8fc ;
    margin: auto;
}

* {
    font-family: 'Comic sans MS';
}

h2, h3, h4, h5 {
    background-color: #00497c;
    display: flex;
    justify-content: center;
    color: #f1f8fc;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #00497c;
    color: #f1f8fc;
    margin-top: -0em;
}

.logo {
    width: 15.6em;
    padding: 1em;
}

li {
    list-style-type: none;
}

/* Css for all table */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

/* Bordures autour du tableau */
table, th, td {
    border: 1px solid #ddd;
}

/* Style des en-têtes */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

/* Style des cellules */
td {
    padding: 10px;
    text-align: left;
}

/* Alternance des couleurs des lignes */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Centrer le texte dans certaines colonnes (optionnel) */
th, td {
    text-align: center;
}