.list-content-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.number, .mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 1em;
}

.img-mail-contact, .img-number-contact {
    width: 5em;
}
