/* Formation html */

.formation-card {
    background-color: #384050 ;
    
}

.title-formation {
    background-color: #384050;
}

.btn {
    text-decoration: none;
    margin: 0.5em;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    }
    
.btn-access-course {
    text-decoration: none;
        padding: 10px;
        font-family: arial;
        font-size: 1em;
        color: white;
        background-color: #384050;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border: 3px solid #cd2c2e;
        box-shadow: 0px 0px 5px #000000;
        -webkit-box-shadow: 0px 0px 5px #000000;
        -moz-box-shadow: 0px 0px 5px #000000;
}

.btn-access-lesson {
    text-decoration: none;
        padding: 10px;
        font-family: arial;
        font-size: 1em;
        color: white;
        background-color: #0074c7;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border: 3px solid #82b864;
        box-shadow: 0px 0px 5px #000000;
        -webkit-box-shadow: 0px 0px 5px #000000;
        -moz-box-shadow: 0px 0px 5px #000000;
}

.btn-access-course:hover {
    padding: 10px;
    background-color: #cd2c2e;
    border: 6px inset #00497c;
    box-shadow: 3px 3px 8px #000000;
    -webkit-box-shadow: 3px 3px 8px #000000;
    -moz-box-shadow: 3px 3px 8px #000000;
}

.btn-access-lesson:hover {
    padding: 10px;
    background-color: #82b864;
    border: 6px inset #00497c;
    box-shadow: 3px 3px 8px #000000;
    -webkit-box-shadow: 3px 3px 8px #000000;
    -moz-box-shadow: 3px 3px 8px #000000;
}
    
.btn:hover {
    padding: 10px;
    background-color: #00497c;
    border: 6px inset #cd2c2e;
    box-shadow: 3px 3px 8px #000000;
    -webkit-box-shadow: 3px 3px 8px #000000;
    -moz-box-shadow: 3px 3px 8px #000000;
    }

/* show formation html*/

.courses-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1em;
    justify-content: center;
}

.courses-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    align-items: center;
    border: solid 2px black;
    padding: 1em;
}

.courses-details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-direction: column;
}

.price-courses-formation {
    padding-top: 1em;
    padding-bottom: 1em;
}

.lesson-name {
    background-color: #0074c7 ;
}

.lesson-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.course-buy-button {
    text-align: center;
}

