{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div>
    <div class='contact-title'> 
        <h1> Contactez Knowledge Learning </h1>
    </div>
    <div class="content-contact">
        <div class="list-content-contact">
            <div class="number">
                <p> Lorem Ipsum </p>
                <a href="tel:07 00 00 00 00"> 07 00 00 00 00 </a>
            </div>
                <div class="mail">
                    <p> Lorem Ipsum </p>
                    <a href="mailto:knowledgelearning@fakemail.com"> knowledgelearning@fakemail.com</a>
            </div>
        </div>
    </div>
{% endblock %}
