{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block body %}
<div class="lesson-div">
    <div class="lesson-title">
        <h1> lecon : {{ lesson.name }}</h1>
    </div>
    <div class="lesson-sheet">
        <div>
            <h2> Fiche de la lecon "{{ lesson.name }}"</h2>
        </div>
        <div class="lesson-explication">
            <h3> Partie 1 </h3>
            <p>     
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra viverra mi sit amet commodo. Sed accumsan tincidunt metus, in finibus neque commodo eget. 
            Fusce non metus quis turpis volutpat consectetur et ut velit. Nullam gravida ex commodo arcu tristique, vel eleifend tellus ultricies. 
            Mauris congue, erat fermentum viverra sollicitudin, massa diam tincidunt massa, nec ultrices justo dui ac tellus. 
            Etiam sed elementum leo. Nulla a nibh turpis. Ut vitae tortor nec nisl mollis viverra eget cursus nulla. 
            Duis rhoncus velit tempus auctor porta. Nunc facilisis blandit turpis, eget hendrerit eros lobortis vestibulum. 
            Nunc luctus augue libero, ac iaculis eros sagittis at.
            </p>

            <p>
                Aliquam blandit, ipsum at pellentesque consectetur, dolor leo dapibus purus, quis condimentum sem libero id dolor.
            Aliquam vehicula congue malesuada. Quisque nec est quis dui interdum ultrices. Phasellus lacus turpis, ornare eu neque sit amet, auctor facilisis velit.
            Nulla in augue varius, porta nisl ut, efficitur sapien. Integer eget tellus ac nisl cursus scelerisque. 
            Maecenas blandit vehicula lectus vitae auctor. Ut vitae convallis velit. Mauris ut tincidunt dui. 
            Vestibulum lobortis purus non purus suscipit, quis rhoncus nisl consectetur. Mauris ullamcorper dolor sit amet elementum blandit. 
            Nam pharetra interdum nisl, a dapibus felis facilisis id. Proin semper arcu libero, in suscipit lectus condimentum non. 
            Integer eu nunc facilisis, cursus nunc vel, scelerisque quam. Curabitur pulvinar posuere velit, eget ultricies odio mollis a.
            </p>

            <p>
                Donec lorem felis, convallis eu purus ac, volutpat posuere turpis. 
            Pellentesque rhoncus diam sit amet velit gravida, a tempor neque ultricies. 
            Suspendisse facilisis, ante eu varius convallis, diam dolor cursus ipsum, vitae sollicitudin dolor orci vitae ligula. 
            Nulla non ante at ex accumsan malesuada. Phasellus vitae metus felis. Aenean dignissim ultricies lorem ac scelerisque. 
            Sed sed suscipit elit, vitae tempus erat. Phasellus aliquam laoreet ex, vel ornare tortor eleifend quis. Suspendisse volutpat, erat in ultricies suscipit, odio urna tristique massa, a rhoncus mauris sapien eget orci. 
            Integer eu nisl quis sem eleifend malesuada. Etiam nulla purus, euismod et lacinia vel, dignissim non ipsum. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            </p>
        </div>
        {% if lesson.video_Url %}
        <div class="video-container">
            <div>
                <h2>Vidéo de la leçon</h2>
            </div>
                <video controls width="100%">
                    <source src= "{{ asset(lesson.video_Url) }}" type="video/mp4">
                Votre navigateur ne supporte pas la lecture vidéo.
                </video>
            </div>
            {% else %}
                <p>Cette leçon ne contient pas de vidéo.</p>
            {% endif %}
    </div>
</div>
{% endblock %}
