{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div>
    <div>
        <h1>MENTIONS LEGALES</h1>
    </div>

    <div>
        <h2>Editeur du site</h2>
    </div>

        <div>
            <pre class="text-center">
            Nom de l’entreprise : Lorem ipsum dolor sit amet,
            Montant du capital social : Lorem ipsum dolor sit amet,
            Numéro et ville du RCS : Lorem ipsum dolor sit amet,
            Représentant légal : Lorem ipsum dolor sit amet,
            Adresse du siège social : Lorem ipsum dolor sit amet,
            Numéro de SIREN : Lorem ipsum dolor sit amet,
            Numéro de TVA : Lorem ipsum dolor sit amet,
            </pre>
        </div>

        <h2>Pour entrer en contact facilement avec l’éditeur du site</h2>

        <div>
            <pre class="text-center">
                Téléphone : Lorem ipsum dolor sit amet,
                Adresse email : Lorem ipsum dolor sit amet,
            </pre>
        </div>

        <div>
            <pre class="text-center">
                Responsable de la rédaction
                Le responsable de la rédaction est : Lorem ipsum dolor sit amet,
                Directeur de publication
                Le directeur de publication est : Lorem ipsum dolor sit amet,
            </pre>
        </div>

        <h3>
            L'éditeur du site s'est vu délivrer plusieurs agréments dans le
            cadre de son activité :
        </h3>

        <h2>Hébergeur du site</h2>

        <div>
            <pre class="text-center">
                Ce site est hébergé par :
                SAS OVH
                2 rue Kellerman – 59100 Roubaix (France)
                Numéro de téléphone : +33 (0)9.72.10.10.07
            </pre>
        </div>
    </div>
</div>
{% endblock %}
