{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
    <h1>Le paiement a été annulé.</h1>
    <p>Vous pouvez réessayer à tout moment.</p>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
